{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Biography</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
   
        
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'dict' %}">Dictionary</a>
        <a href="#about">About</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
        
        {% if user.is_authenticated %}
        <a href="logout">Log out</a>
        {% else %}
        <a href="{% url 'registeration' %}">Registeration</a>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
            
        
    </div>
    
    <div class="banner">Welcome to My Personal Website</div>
    
    <section id="about" class="container">
        <div class="profile">
            
            <img src="{% static 'img/profile.jpg' %}" alt="profile picture" class="profile-pic">
            <h2>Nima HTM</h2>
            <p style="width:80%">         {{info.infoText}}       </p>
        </div>
    </section>

    <section id="portfolio" class="container">
        <div class="section-header">
            <h2>Portfolio</h2>
        </div>
        <div class="portfolio-grid">
            
            {% for x in pf %}
            <div class="portfolio-item">{{x.Name}}</div>
            {% endfor %}
   
        </div>
    </section>

    <section id="contact" class="container">
        <div class="section-header">
            <h2>Contact Me</h2>
        </div>
        <form class="contact-form">
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2025 John Doe. All Rights Reserved.</p>
    </footer>
</body>
</html>