{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
       
        
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </div>
    
    <div class="banner">Welcome to Our Platform</div>
    
    <div class="container countainer-login">
        <div class="login-box">
            <h2>Sign-Up</h2>
            
            {% for message in messages %}
                <h4 class="register-message-err">{{ message }}</h4>
            {% endfor %}
                
            <form method="POST" class="styled-form">
                {% csrf_token %}
                <input name="username" type="text" placeholder="Username" required>
                <input name="password" type="password" placeholder="Password" required>
                {% comment %} <input name="age" type="number" placeholder="Age" required min="0"> {% endcomment %}
                <input name="email" type="email" placeholder="Email" required>
                <p>
                <button type="submit">Register Account</button>
                <a href="{% url 'login' %}">Already have an account?</a>
            </form>
            
        </div>
    </div>
</body>
</html>